- var link = 'leaflet-plugin'
- var title = 'OSM + Leaflet 學習筆記 3：定位、全螢幕、小地圖、列印、客製選單'
- var description = 'OSM + Leaflet 學習筆記 3：定位、全螢幕、小地圖、列印、客製選單'

<!DOCTYPE html>
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - August - Let's Write

    link(rel="canonical", href=`https://www.letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - Augustus - Let's Write`)
    meta(itemprop="name", content=`${title} - Augustus - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.png`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.png`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    // Leaflet.js
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css", integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==", crossorigin)

    // Leaflet.Locate
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.css")

    // Leaflet.Control.FullScreen
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.4.0/Control.FullScreen.min.css")

    // Leaflet.MiniMap
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.css")

    // leaflet-sidebar-v2
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="dist/leaflet-sidebar.min.css")

    // Tailwind CSS
    script(src="https://cdn.tailwindcss.com")
    link(rel="stylesheet", href="dist/style.min.css", media="screen")
    script.
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              main: '#42A6F7',
            }
          }
        }
      }

    link(rel="stylesheet", href="dist/style.min.css", media="screen")

    // 調整 樣式
    style.
      .leaflet-control-easyPrint-button {
        border-radius: 2px !important;
      }
      .easyPrintSizeMode {
        margin-top: 1px;
        margin-left: 4px;
      }

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');

  body.bg-slate-900.text-white

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    .container.mx-auto.py-10
      .text-center
        h1.mb-6.font-bold.text-4xl=title
        p 筆記文：
          a.text-main.underline(class="hover:no-underline", href=`https://www.letswrite.tw/${link}/`) Let's Write
        hr.my-8.border-0.border-b.border-zinc-200.border-opacity-40
      
      // map
      .px-10
        .relative.w-full.h-0(class="pb-[75%] sm:pb-[56.25%]")

          // leaflet-sidebar-v2
          #sidebar.sidebar.collapsed(class="!border-r-0")
            
            // Tabs 按鈕
            .sidebar-tabs

              // 第一個 ul 在上面
              ul
                li
                  a.justify-center.items-center(class="!flex", href="#home")
                    //- i.fa.fa-bars
                    img(src="dist/menu-hambuger.svg")
                li
                  a.justify-center.items-center(class="!flex", href="https://www.letswrite.tw/leaflet-plugins/", target="_blank")
                    img(src="dist/web.svg")
                li
                  a.justify-center.items-center(class="!flex", href="https://github.com/letswritetw/letswrite-leaflet-plugins", target="_blank")
                    img(src="dist/brand-github.svg")

              // 第二個 ul 在下面
              ul
                li
                  a.justify-center.items-center(class="!flex", href="#settings")
                    img(src="dist/setting.svg")
            
            // Tabs 內容
            .sidebar-content.text-gray-800
              
              #home.sidebar-pane
                h3.sidebar-header.mb-4.bg-main 客製選單 說明
                  span.sidebar-close
                    i.fa.fa-caret-left
                p.mb-2.font-bold.text-xl 使用套件
                ul.list-disc.pl-6
                  li
                    a.inline-block.mb-4.text-main(href="https://github.com/turbo87/sidebar-v2/", target="_blank") sidebar-v2
                p.mb-2.font-bold.text-xl 其它覺得不錯的套件
                ul.list-disc.pl-6
                  li.mb-2
                    a.text-main(href="https://github.com/yohanboniface/Leaflet.TileLegend", target="_blank") Leaflet.TileLegend
                  li.mb-2
                    a.text-main(href="https://github.com/yigityuce/Leaflet.Control.Custom", target="_blank") Leaflet.Control.Custom
                  li.mb-2
                    a.text-main(href="https://github.com/ptma/Leaflet.Legend", target="_blank") Leaflet.Legend
                  li.mb-2
                    a.text-main(href="https://github.com/maxwell-ilai/Leaflet.SidePanel", target="_blank") Leaflet.SidePanel
              
              #settings.sidebar-pane
                h3.sidebar-header.mb-4.bg-main 設定
                  span.sidebar-close
                    i.fa.fa-caret-left
                p 這邊可以加入使用說明

          #map.sidebar-map.absolute.w-full(class="!h-full")

    // Leaflet.js
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" ,integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==", crossorigin)

    // Leaflet.Locate
    script(src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.76.1/dist/L.Control.Locate.min.js")

    // Leaflet.Control.FullScreen
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/2.4.0/Control.FullScreen.min.js")

    // Leaflet.MiniMap
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.js")

    // leaflet-sidebar-v2
    script(src="dist/leaflet-sidebar.min.js")

    // leaflet-easyPrint
    script(src="https://cdn.jsdelivr.net/npm/leaflet-easyprint@2.1.9/dist/bundle.js")

    // main
    script(src="dist/main.min.js")
